.lists {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.flex-one {
  flex-basis: 40rem;
}
.zurag1 {
  padding: 0;
  margin: 0;
}
.zurag {
  margin-left: 5px;
  margin-bottom: 5px;
}
.row {
  display: flex;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.pmargin {
  margin-right: 300px;
  color: #424242;
}
.h1 {
  color: #d05270;
}
.designBtn {
  height: 60px;
  width: 200px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.btns {
  gap: 18px;
  display: flex;
  flex-direction: row;
}
#TWITTER {
  background-color: #47acdf;
  color: white;
}
#LINKINDEN {
  background-color: #1275b1;
  color: white;
}
#MEDIUM {
  background-color: black;
  color: white;
}
.contentlist {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 300px;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 124px;
}
.card img {
  width: 100%;
}
#cardu {
  width: calc(100% / 2 - 30px);
}
.read {
  color: #d05270;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 75px;
  font-weight: 600;
  text-decoration: underline;
}
.conttitle {
  color: #d05270;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}
.conttext {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}
.date {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}
.detailpic {
  width: 100%;
  margin-top: 179px;
  margin-bottom: 148px;
}
#detailh1 {
  color: #3a0ca3;
  font-size: 42px;
  font-weight: 700;
}
#detailh2 {
  color: #3a0ca3;
  font-size: 36px;
  font-weight: 700;
  margin-top: 186px;
}
#detailh3 {
  color: #3a0ca3;
  font-size: 24px;
  font-weight: 700;
  margin-top: 174px;
}
.footerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  margin-bottom: 100px;
  width: 301px;
  height: 34px;
}
